<!-- <li id="notification-<%= notification.id %>">
  <span class="user"><%= link_to notification.user.full_name, notification.user %></span>
  <span class="content">
    <%= notification.content %>
    <%= image_tag notification.picture_url if notification.picture? %> 

  </span>

  <span class="timestamp">
    Posted <%= time_ago_in_words(notification.created_at) %> ago.
    <% if current_user?(notification.user) %> 
      <%= link_to "delete", notification, method: :delete,
                                          data: { confirm: "Are you sure?" } %>
    <% end %>
  </span>
</li> -->