
<h1>Sign up</h1>
<div class="signup-row">
  <div class="col-md-4 col-md-offset-4">

    <%= form_for User.new do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
     <!--   f.object creates object variable  -->
      <%= f.label :first_name, "FIRST NAME" %>
      <%= f.text_field :first_name, class: 'form-control' %>

      <%= f.label :last_name, "LAST NAME" %> 
      <%= f.text_field :last_name, class: 'form-control' %>'

      <%= f.label :username, "USERNAME" %>
      <%= f.text_field :username, class: 'form-control' %>

      <%= f.label :email, "EMAIL" %>
      <%= f.text_field :email, class: 'form-control' %>

      <%= f.label :password, "PASSWORD" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "PASSWORD CONFIRMATION" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
        <br>
      <%= f.submit "SIGN UP", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
