<% if @invitee %> 
<!-- if there is a friend aka invitee, display full name -->
  <h2><%= @invitee.full_name %></h2>

  <p>Are you sure you want to friend <%= @invitee.full_name %>?</p>

  <%= form_for @friendship, method: :post do |form| %>
    <div class="form form-actions">
      <!-- hidden field keeps track of friend id when going to create action -->
      <%= form.hidden_field :invitee_id, value: @invitee.id %>
      <%= submit_tag "Yes, Add Friend", class: 'btn btn-primary' %> 
      <%= link_to "Cancel", profile_path(@invitee), class: 'btn' %>
    </div>
  </end %>
<% end %>